@@include('inc/head.html', {"title": "Пополнение баланса"})
    <aside class="page__menu" id="aside">
        @@include('inc/aside.html')
    </aside>
    <div class="page" id="page">
        <header class="page__header">
            <section class="p-header">
                <button class="toggle" data-toggle="#aside, #page, body">
                    <span></span>
                </button>
                <h1>
                    Пополнение баланса
                </h1>
            </section>
        </header>

        <div class="page__container">
            <main class="page__main">
                <section class="row">
                    @@include('balance/widget--balance.html')
                </section>
            </main>
            <footer class="page__footer">
                @@include('inc/footer.html')
            </footer>
        </div>
    </div>

@@include('inc/foot.html')
