@@include('inc/head.html', {"title": "DNS: metest.ru"})
    <aside class="page__menu" id="aside">
        @@include('inc/aside.html')
    </aside>
    <div class="page" id="page">
        <header class="page__header">
            <section class="p-header">
                <button class="toggle" data-toggle="#aside, #page, body">
                    <span></span>
                </button>
                <h1>
                    DNS: metest.ru
                </h1>
            </section>
        </header>

        <div class="page__container">
            <main class="page__main">
                <section class="row row--single">
                    @@include('dns/widget--dns.html')
                </section>
            </main>
            <footer class="page__footer">
                @@include('inc/footer.html')
            </footer>
        </div>
    </div>

@@include('inc/foot.html')
