@@include('inc/head.html', {"title": "Панель управления"})
    <aside class="page__menu" id="aside">
        @@include('inc/aside.html')
    </aside>
    <div class="page" id="page">
        <header class="page__header">
            <section class="p-header">
                <button class="toggle" data-toggle="#aside, #page, body">
                    <span></span>
                </button>
                <h1>
                    Панель управления
                </h1>
            </section>
        </header>

        <div class="page__container">
            <main class="page__main">
                <section class="row">
                    @@include('home/widget--user.html')
                    @@include('home/widget--balance.html')
                    @@include('home/widget--domains.html')
                </section>
                <section class="row">
                    @@include('home/widget--whois.html')
                </section>
                <section class="row">
                    @@include('home/widget--services.html')
                </section>
            </main>
            <footer class="page__footer">
                @@include('inc/footer.html')
            </footer>
        </div>
    </div>

@@include('inc/foot.html')
