@@include('inc/head.html', {"title": "Index"})
    <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="reset.html">Forget password</a></li>
        <li><a href="home.html">Dashboard</a></li>
        <li><a href="balance.html">Пополнение баланса</a></li>
        <li><a href="dns.html">Редактор DNS</a></li>
    </ul>
@@include('inc/foot.html')
