@@include('inc/head.html', {"title": "Login"})

    <section class="page page--full">
        <div class="page__container">
            <div class="page__overlay">
                @@include('login/login-form.html')
            </div>
            <div class="page__footer">
                @@include('inc/footer.html')
            </div>
        </div>
    </section>

@@include('inc/foot.html')
