@@include('inc/head.html', {"title": "Забыли пароль?"})

<section class="page page--full">
    <div class="page__container">
        <div class="page__overlay">
            @@include('login/reset-form.html')
        </div>
        <div class="page__footer">
            @@include('inc/footer.html')
        </div>
    </div>
</section>

@@include('inc/foot.html')
