.aside {
    & {
    }
    &__logo {
        display: block;
        width: 100%;
        height: $base-lh * 2;
        background-color: $black80;
        background-image: url('/assets/logo-red.png');
        background-repeat: no-repeat;
        background-position: $small-spacing 50%;
        background-size: auto 20px;
        transition: all $base-duration $base-timing;

        @include mq(tablet) {
            height: $base-lh * 4;
            background-position: 50% 50%;
            background-size: auto auto;
        };

        .svg & {
            background-image: url('/assets/logo-red.svg');
        }
    }

    &__menu {
        padding: $base-spacing 0;
        font-size: 16px;
        line-height: $base-lh;

        a {
            transition: background $base-duration * 2 $base-timing,
                        color $base-duration * 2 $base-timing;
        }
        a:hover {
            color: $black;
            background-color: $yellow;
        }
    }

    &__item {
        > a {
            color: $yellow;
            display: block;
            padding: $small-spacing $small-spacing;
        }
        i {
            display: inline-block;
            width: 20px;
            font-size: 20px;
            vertical-align: -3px;
        }
    }
    &__item.active,
    &__subitem.active {
        > a {
            color: $white;
        }
    }

    &__submenu {
        font-size: 14px;
    }
    &__subitem {
        > a {
            display: block;
            color: $yellow;
            padding: $small-spacing $small-spacing;
            padding-left: $small-spacing + 25px;
            background-color: $black80;
        }
    }
}
