.b-form {
    & {
        padding: $small-spacing;
        @include mq(tablet) {
            padding: $base-spacing;
        };
    }
    &__hdr {
        text-align: center;
        background-color: $selected-color;
        padding: $small-spacing;
        margin: $small-spacing * -1;
        margin-bottom: $base-spacing;
        @include mq(tablet) {
            display: none;
        };
        h4 {
            letter-spacing: 0;
        }
        h4, p {
            margin: 0;
        }
        p {
            opacity: .55;
        }
    }

    &__info {
        text-align: center;
        margin-bottom: $base-spacing;
        @include mq(tablet) {
            margin-bottom: $base-spacing * 2;
        };
        ul {
            padding-left: $small-spacing;
            text-align: left;
            list-style: outside url('bullet.png');
        }
        .svg & ul {
            list-style: outside url('bullet.svg');
        }
    }
    &__form {
        padding: 0;
    }
    .field {
        min-width: 280px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .form__errors {
        //margin-left: 0;
        //margin-right: 0;
    }
}
