.badge {
    $padding: ($base-lh - 12px) / 2;

    position: relative;
    top: 1px;
    display: inline-block;
    padding: $padding;
    min-width: $base-lh;
    text-align: center;
    color: $white;
    background-color: $red;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: top;
    border-radius: 10px;

    &:empty {
        display: none;
    }
}
