.balance {
    $ext: '.whois';
    $tabs-count: 10;
    $tabs-z: 1;
    & {
        @extend #{$ext};
        display: flex;
        flex-direction: column;
        @include mq(tablet) {
            flex-direction: row;
            margin-bottom: 0;
        };
    }
    &__tabs {
        @extend #{$ext}__tabs;
        overflow: hidden;
        @include mq(tablet) {
            flex-direction: column;
            box-shadow: $box-shadow;
            background-color: $white;
            position: relative;
            flex-shrink: 2;
            z-index: 1;
        };
    }
    &__tab {
        box-shadow: $box-shadow;
        background-color: $white;
        position: relative;
        display: flex;
        cursor: pointer;
        padding: 5px;
        transition: background-color $base-duration $base-timing;
        @include mq(tablet) {
            align-items: center;
            box-shadow: none;
            padding: $small-spacing;
            border-bottom: 1px solid $black10;
        };
        @while $tabs-count > 0 {
            &:nth-child(#{$tabs-count}) {
                z-index: $tabs-z;
            }
            $tabs-count: $tabs-count - 1;
            $tabs-z: $tabs-z + 1;
        }
        &.selected {
            background-color: $selected-color;
            z-index: $tabs-z;
            cursor: default;
            border-bottom: 0;
        }
    }
    &__icon {
        $icons: card, yandex, qiwi, webmoney, mobile, transfer;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @include mq(tablet) {
            width: 60px;
            height: 60px;
            margin-right: $small-spacing;
            //background-position: 0% 50%;
        };

        @each $icon in $icons {
            &--#{$icon} {
                background-image: url('/assets/icon-#{$icon}-xs.png');
                @include mq(tablet) {
                    background-image: url('/assets/icon-#{$icon}.png');
                };
            }
            .selected &--#{$icon} {
                background-image: url('/assets/icon-#{$icon}-xs-active.png');
                @include mq(tablet) {
                    background-image: url('/assets/icon-#{$icon}-active.png');
                };
            }
            .svg &--#{$icon} {
                background-image: url('/assets/icon-#{$icon}-xs.svg');
                @include mq(tablet) {
                    background-image: url('/assets/icon-#{$icon}.svg');
                };
            }
            .svg .selected &--#{$icon} {
                background-image: url('/assets/icon-#{$icon}-xs-active.svg');
                @include mq(tablet) {
                    background-image: url('/assets/icon-#{$icon}-active.svg');
                };
            }
        }
    }
    &__hdr {
        display: none;
        @include mq(tablet) {
            display: block;
        };
        h4 {
            letter-spacing: 0;
        }
        h4, p {
            margin: 0;
        }
        p {
            opacity: .55;
        }
    }

    &__content {
        flex: 1;
        background-color: $white;
        @include mq(tablet) {
            box-shadow: $box-shadow;
            position: relative;
            z-index: 2;
            flex-shrink: 1;
            min-width: 350px;
        };
    }
    &__box {
        @extend #{$ext}__box;
    }
}
