.d-editor {
    $this: '.d-editor';
    & {
        display: flex;
        flex-direction: column;
        @include mq(tablet) {
            margin: 0 $small-spacing;
            align-items: center;
        };
    }
    &__buttons {
        text-align: center;
        border-bottom: 1px solid shade($base-border-color, 25%);
        padding: $small-spacing 0;
        @include mq(tablet) {
            min-width: 400px;
        };
    }
    &__records {
        margin-top: 0;
        table-layout: auto;
        @include mq(tablet) {
            width: auto;
            min-width: 400px;
        };
    }
    &__record {
        & {
            transition: background-color $base-duration $base-timing;
            background-color: $white;
            cursor: pointer;
        }
        &:hover {
            background-color: $black10;
        }
        &.open {
            background-color: $selected-color;
        }
        &.off,
        &.off.open {
            background-color: tint($red, 90%);
            color: rgba($base-font-color, .5);
        }
        &.off:hover {
            background-color: tint($red, 85%);
        }
    }
    &__info {
        td {
            border-bottom: 0;
            padding: $small-spacing / 2 $small-spacing;
        }
    }
    &__actions {
        td {
            padding: 0 $small-spacing 1px;
        }
        div[data-content] {
            @extend %clearfix;
        }
        #{$this}__btn {
            @extend .d-menu__btn;
            margin-bottom: $small-spacing;
        }
    }

    // Buttons
    &__btn {
        &.add-record,
        &.on,
        &.edit {
            @extend %button--yellow;
        }
        &.off {
            @extend %button--grey;
        }
        &.del {
            float: right;
        }
    }
}
