.d-menu {
    & {}
    &__buttons {
        @extend %clearfix;
        padding: $small-spacing;
        border-bottom: $base-border;
    }
    &__btn {
        @extend %button;
        float: left;
        margin-right: $small-spacing;
        &:last-child {
            margin-right: 0;
        }

        &.add-zone {
            @extend %button--yellow;
        }
    }
    &__list {}
    &__item {
        a {
            display: block;
            padding: $small-spacing;
            font-weight: 600;
            transition: background-color $base-duration $base-timing,
                        color $base-duration $base-timing;
            &:hover,
            &:focus {
                background-color: $red;
                color: $white;
            }
        }
        small {
            display: block;
            font-size: 80%;
            font-weight: 400;
            color: $base-font-color;
        }

        &.selected {
            a {
                color: $action-color;
                background-color: $selected-color;
            }
        }
    }

}
