.d-main {
    & {
        display: flex;
        flex-direction: column;
    }
    &__buttons {
        @extend .d-menu__buttons;
        align-self: stretch;
    }
    &__btn {
        @extend .d-menu__btn;
        &.list-zones {
            @extend %button--yellow;
            @include mq(tablet) {
                display: none;
            };
        }
        &.del-zone {
            float: right;
        }
    }
    &__section {
        padding: $small-spacing;
        display: flex;
        flex-direction: column;
        @include mq(tablet) {
            align-items: center;
        };
    }
    &__hdr {
        text-align: center;
    }
    &__soa {
        width: 100%;
        table-layout: auto;
        @include mq(tablet) {
            width: auto;
            min-width: 400px;
        };
        th, td {
            text-align: center;
            padding: $small-spacing / 2;
            @include mq(tablet) {
                padding: $small-spacing / 2 $small-spacing;
            };
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        margin-bottom: $base-spacing * 2;

        & > * {
            margin: 0 $small-spacing / 2
        }
    }
}
