.dialog {
    & {
        @extend .widget;
        box-shadow: $dialog-shadow;
        max-width: 400px;
        position: relative;
        margin: $base-spacing * 2 auto;
    }
    &__header {
        @extend .widget__header;
    }
    &__main {
        @extend .widget__main;
    }
    &__content {
        @extend .widget__content;
        text-align: center;
    }
    &__footer {
        @extend .widget__footer;
        padding: $small-spacing;
        border-top: $base-border;
        justify-content: flex-start;
    }
    &__buttons {
        flex: 1 0 100%;
        @extend %clearfix;
    }
    &__btn {
        @extend .d-menu__btn;
        &.cancel {
            @extend %button--yellow;
        }
        &.del {
            float: right;
        }
    }
}

// Animation
.mfp--zoom-in {
    $dialog: '.dialog';

    & #{$dialog} {
        opacity: 0;
        transition: all $dialog-duration $dialog-timing;
        transform: translateY(-100%);
    }
    &.mfp-ready #{$dialog} {
        opacity: 1;
        transform: translateY(0);
    }
    &.mfp-removing #{$dialog} {
        opacity: 0;
        transform: translateY(-100%);
    }
    &.mfp-bg,
    &.mfp-removing.mfp-bg {
        opacity: 0;
        transition: opacity 300ms ease-out;
    }
    &.mfp-ready.mfp-bg {
        opacity: $mfp-overlay-opacity;
    }
}
