.dns {
    & {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $white;
        box-shadow: $box-shadow;
        @include mq(tablet) {
            overflow: auto;
        };
    }
    &__container {
        //display: table;
        display: flex;
        width: 200%;
        transform: translateX(-50%);
        transition: transform $base-duration $base-timing;
        @include mq(tablet) {
            width: auto;
            height: 100%;
            transform: translateX(0);
        };
    }
    &.toggled &__container {
        transform: translateX(0);
    }
    &__menu,
    &__content {
        width: 50%;
        @include mq(tablet) {
            width: auto;
        };
    }
    &__menu {

    }
    &__content {
        @include mq(tablet) {
            flex: 1;
            background-color: $white;
            box-shadow: $box-shadow;
        };
    }
}
