.linklist {
    & {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    &--small {
        font-size: 11px;
        font-weight: 600;
        line-height: $base-lh;
    }
}
