.modal {
    & {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $main-bg;
        transition: width $base-duration $base-timing;
        box-shadow: $box-shadow;

        @include mq(tablet) {
            width: 320px;
        };
    }
    &__header {
        & {
            position: relative;
        }
        h1 {
            margin: 0;
            font-weight: 300;
            font-size: 48px;
            line-height: $base-lh * 2;
            @extend %header;
        }
    }
    &__content {

    }
    &__footer {
        padding: $small-spacing;
        @include mq(tablet) {
            padding: $small-spacing $base-spacing;
        };
    }
}
