.p-footer {
    & {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $small-spacing / 2 0;

        @include mq(tablet) {
            flex-direction: row;
            align-items: flex-end;
        };
    }
    &__box {
        padding: 0 $small-spacing;
        text-align: center;
        color: $black;

        @include mq(tablet) {
            padding: 0 $base-spacing;
            text-align: left;
        };
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $small-spacing;
            @include mq(tablet) {
                margin-bottom: 7px;
            };
        }

        &--logo {
            flex-shrink: 0;
        }
    }
    h6 {
        font-weight: 600;
    }
    h6, p {
        font-size: 12px;
        margin: 0;
    }
}
