.p-header {
    & {
        padding: 0 $small-spacing;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        @include mq(tablet) {
            justify-content: center;
        };
    }
    h1 {
        margin: $small-spacing 0;
        color: $white;
        text-transform: uppercase;
        font-size: $em-base;
        font-weight: 600;
        line-height: $base-lh;
        transition: all $base-duration $base-timing;
        @include mq(tablet) {
            font-size: 48px;
            line-height: $base-lh * 3;
            margin: $base-lh / 2 0;
        };
    }
}
