body {
    //overflow-x: hidden;
    //display: flex;
    position: relative;
    min-height:     100%;
    max-height:     100%;
}

.page {
    $this: '.page';

    & {
        position:       absolute;
        display:        flex;
        flex-direction: column;
        width:          100%;
        height:         100%;
        min-height:     100%;
        overflow: hidden;
        left:           0;
        transition:     left $menu-duration $menu-timing;
    }

    // ONLY FOR PAGES WITH MENU
    &__menu + & {
        @include mq(tablet) {
            position: static;
            padding-left: $menu-width;
        };
    }
    &__menu + &.toggled {
        left: $menu-width;
    }

    &__menu {
        position:         absolute;
        top:              0;
        bottom:           0;
        left:             $menu-width * -1;
        width:            $menu-width;
        padding:          0;
        background-color: $black60;
        transition:       left $menu-duration $menu-timing;
        color:            #fff;
        overflow:         auto;
        @include mq(tablet) {
            left: 0;
        };
        &.toggled {
            left: 0;
        }
    }

    &__header {
        position: relative;
        z-index: 3;
        background-image: $gradient;
        box-shadow:       $box-shadow;
    }

    &__container {
        overflow:         auto;
        display:          flex;
        flex-direction:   column;
        flex:             1;
    }
    &__main {
        background-color: $black10;
        flex: 1;
        padding: 0;
        @include mq(tablet) {
            padding: $base-spacing * 2 $base-spacing;
        };
    }
    &__footer {
        background-image: $gradient-2;
    }

    &__overlay {
        @extend %overlay; // layouts/placeholders
    }

    // MODIFICATORS
    &--full {
        & {
            background-image: $gradient-2;
        }
        #{$this}__footer {background-image: none;}
    }
}
