.pager {
    & {
        flex: 1;
        display: flex;
        justify-content: flex-start;
    }
    &__prev,
    &__next,
    &__item,
    &__separator {
        & {
            display: block;
            font-size: 1em;
            line-height: $base-lh;
            text-align: center;

            background-color: darken($base-background-color, 5);
            transition: background-color $base-duration $base-timing;
            margin-right: 1px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            background-color: darken($base-background-color, 10);
        }
        &--disabled {
            display: none;
        }
        a, span {
            display: block;
            padding: $small-spacing / 2;
            line-height: $base-lh;
            min-width: 30px;
        }
        &--active {
            &, &:focus, &:hover {
                & {
                    background-color: $base-font-color;
                }
                a, span {
                    color: $white;
                }
            }
        }
    }


    &__prev {
        & {}
        span, a {
            @extend i;
            @extend .en-chevron-thin-left;
        }
    }
    &__next {
        & {}
        span, a {
            @extend i;
            @extend .en-chevron-thin-right;
        }
    }
}
