.result {
    $this: ".result";

    & {
        background-color: $white;
        box-shadow: $box-shadow;
    }
    &__form {
        padding: 0;
    }
    &__table {
        table-layout: auto;
        margin: 0;
        font-size: $em-base;
        line-height: $base-lh;
        td {
            padding: $small-spacing 0;
        }
        td:first-child {
            padding-left: $small-spacing;
        }
        td:last-child {
            padding-right: $small-spacing;
        }
    }

    &__row {}
    &__domain {
        font-weight: 600;
    }
    &__row--busy &__domain,
    &__row--error &__domain {
        color: $black40;
        text-decoration: line-through;
    }
    &__row--free td {
        background-color: lighten($yellow, 25%);
    }
    &__check {
        font-size: 18px;
        input {
            @extend %checkbox;
        }
    }
    &__price {
        span {
            font-weight: 600;
            padding: 0 $small-spacing / 2;
            border-radius: 3px;
            display: inline-block;
            background-color: $yellow;
        }
    }
    &__period {
        text-align: right;
        select {
            @extend %inputs;
            @extend %select;
            padding: 4px 5px;
            padding-right: $base-lh;
            margin-bottom: 0;
            display: inline-block;
            font-size: 14px;
            line-height: $base-lh;
            width: auto;
        }
    }

    &__show-all {}
    &__domains {
        span {
            & {
                &::after {
                    content: ', ';
                }
                &:last-of-type::after {
                    content: none;
                }
            }
            &.free {}
            &.busy {}
        }
    }

    &__footer {
        @extend .widget__footer;
        padding-top: $small-spacing;
    }
    &__submit {}

}
