.services {
    & {
        flex: 1;
        margin: 0;
        width: auto;
        table-layout: auto;
        margin-top: -10px;
    }
    %cell {
        padding: $small-spacing $small-spacing / 2;
        text-align: center;
        width: auto;
    }
    tr:last-child td {
        border-bottom-color: shade($base-border-color, 25%);
    }
    th {
        @extend %cell;
        white-space: nowrap;
    }

    &__domain {
        @extend %cell;
        font-weight: 600;
    }
    &__paid {
        @extend %cell;
        &--end {
            color: $red;
        }
    }
    &__free {
        display: block;
        color: $base-font-color;
    }
    &__dns {
        @extend %cell;
    }
    &__extra {
        @extend %cell;
        font-size: 90%;
    }
}
