.toggle {
    $height: $base-lh;
    &, &:hover, &:focus {
        background-color: transparent;
        display: inline-block;
        outline: none;
        transition: transform $base-duration $base-timing;
    }
    @include mq(tablet) {
        display: none;
    };

    & {
        margin: $small-spacing;
        padding: 0;
        margin-left: 0;
        margin-right: $small-spacing;
        width: 20px;
        height: $height;
        position: relative;
        span {
            &, &::before, &::after {
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;
            }
            & {
                top: $height / 2 - 1;
                transition: background $base-duration $base-timing;
            }
            &::before,
            &::after {
                content: '';
                transform-origin: 0% 50%;
                transform: translateZ(0);
                backface-visibility: hidden;
                transition: transform $base-duration *2 $base-timing;
            }
            &::before {
                top: -7px;
            }
            &::after {
                bottom: -7px;
            }
        }
    }
    &:hover {
        transform: scale(1.1);
    }

    &.toggled {
        span {
            & {
                background-color: rgba($white, 0);
            }
            &::before {
                transform: translateX(2.5px) rotate(45deg);
            }
            &::after {
                transform: translateX(2.5px) rotate(-45deg);
            }
        }
    }
}

body.toggled {
    overflow: hidden;
}
