.w-intro {
    & {
        margin-bottom: $small-spacing;
        @include mq(tablet) {
            font-size: 16px;
            line-height: 30px;
        };
    }
    strong {
        font-weight: 400;
        display: block;
        font-size: $base-lh;
        line-height: 1;
    }
}
