.w-info {
    & {
        width: 100%;
        table-layout: auto;
        margin: 0;
        @include mq(tablet) {
            font-size: 16px;
        };
    }
    th, td {
        padding: 0;
        font-weight: 400;
        line-height: $base-lh;
        border-bottom: 0;
    }
    th {
        color: $black40;
        padding-right: $small-spacing;
    }
}
