.whois {
    $tab-bg: $base-font-color;
    $tab-color: $white;
    & {
        flex: 1;
        position: relative;
        z-index: 1;
        @include mq(tablet) {
            margin: 0 $small-spacing $base-spacing;
        };
    }
    &__tabs {
        display: flex;
    }
    &__tab {
        flex: 1;
        font-weight: 600;
        font-size: 18px;
        line-height: $base-lh;
        padding: $small-spacing;
        cursor: pointer;
        backface-visibility: hidden;
        transition: background-color $base-duration * 2 $base-timing,
                    color $base-duration * 2 $base-timing;
        @include mq(tablet) {
            flex: 0 1 auto;
            font-size: 20px;
            padding: $small-spacing $base-spacing;
        };
        & {
            background-color: $action-color;
            color: $tab-color;
            &:hover {
                background-color: shade($action-color, 20%);
            }
        }
        &.selected, &.selected:hover {
            cursor: default;
            background-color: $tab-bg;
            color: $black10;
        }
    }

    &__content {

    }
    &__box {
        & {
            display: none;
        }
        &.selected {
            display: block;
            animation: whois-fade $base-duration * 2;
        }
    }

    &__form {
        padding: $small-spacing;
        background-color: $tab-bg;
        box-shadow: $box-shadow;
        @include mq(tablet) {
            padding: $base-spacing;
        };
        display: flex;
    }
    & &__input {
        font-size: 14px;
        line-height: $base-lh;
        padding: $small-spacing / 2;
        border: 0 !important;
        @include mq(tablet) {
            font-size: 18px;
            padding: $small-spacing;
            margin-right: $base-spacing;
        };
    }
    &__submit {
        width: 30px;
        padding: $small-spacing / 2;
        text-align: center;
        @include mq(tablet) {
            width: auto;
            text-align: left;
            padding: $small-spacing;
        };
    }
    //-----------------------
    .xs {
        display: inline-block;
        @include mq(tablet) {
            display: none;
        };
    }
    .sm {
        display: none;
        @include mq(tablet) {
            display: inline-block;
        };
    }
}

@keyframes whois-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
