.row {
    display: flex;
    flex-direction: column;
    @include mq(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    };
    &--single {
        height: 100%;
    }
}

.widget {
    position: relative;
    z-index: 2;
    background-color: $white;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    @include mq(tablet) {
        flex: 1 0 290px;
        margin: 0 $small-spacing $base-spacing;
    };

    &__header {
        $arrow-width: 32px;
        $arrow-height: 17px;
        & {
            margin-bottom: $base-lh;
        }
        h1 {
            position: relative;
            font-size: $base-lh;
            line-height: $base-lh + $small-spacing;
            text-transform: uppercase;
            border-bottom: 2px solid $red;
            margin: 0;
            padding: $small-spacing;

            &::after {
                content: '';
                position: absolute;
                bottom: $arrow-height * -1;
                left: $small-spacing;
                width: $arrow-width;
                height: $arrow-height;
                background-repeat: no-repeat;
                background-image: url('/assets/header-arrow-xs.png');
            }
        }
    }
    &__main {
        flex: 1;
        display: flex;
    }
    &__icon {
        display: flex;
        margin: $small-spacing;
        margin-right: 0;
        flex: 0 0 50px;
        @include mq(tablet) {
            margin: $base-spacing;
            margin-right: 0;
        };
    }
    &__content {
        padding: $small-spacing;
        @include mq(tablet) {
            padding: $base-spacing;
            padding-bottom: $small-spacing;
        };
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        @include mq(tablet) {
            padding: $small-spacing;
        };
    }
    &__button {
        @extend %button;
        flex: 0;
    }

    // MODIFICATORS
    &--choosen-one {
        border-left: $choosen-one;
    }
}
