<script type="text/javascript">
    // Это костыльный костыль
    // в реальной работе нужно также убирать .toggle с элемента .dns
    document.addEventListener('DOMContentLoaded', function() {
        var $dns = $('.dns'),
            $links = $('.d-menu__item a');

        $links.on('click', function() {
            $dns.removeClass('toggled');
        });
    });
</script>
<section class="d-menu">
    <div class="d-menu__buttons">
        <button class="d-menu__btn add-zone">
            <i class="en-circle-with-plus"></i>
            Добавить зону
        </button>
    </div>
    <ul class="d-menu__list">
        <li class="d-menu__item">
            <a href="#">
                alias1.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                alias5.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                codirovka.ru
            </a>
        </li>
        <li class="d-menu__item selected">
            <a href="#">
                metest.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                mgr-test5.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                mgr-test6.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                migrate-test2.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                mymealias.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                rgrgdf.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                t22013.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                test-hex.masterhost.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                testing.su
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                testing-test.su
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                testmail2.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                testmail3.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                test-migrate3.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                test.zone.ru
            </a>
        </li>
        <li class="d-menu__item">
            <a href="#">
                папироска.рф
                <small>
                    xn--80aaxitdbjk.xn--p1ai
                </small>
            </a>
        </li>
    </ul>
</section>
