<section id="dialog--delete-zone" class="dialog mfp-hide">
    <header class="dialog__header">
        <h1>
            Подтверждение
        </h1>
    </header>

    <main class="dialog__main">
        <div class="dialog__content">
            <p>
                Вы действительно хотите удалить зону &laquo;metest.ru&raquo;?<br>
                Это действие необратимо!
            </p>
        </div>
    </main>

    <footer class="dialog__footer">
        <div class="dialog__buttons">
            <button class="dialog__btn cancel" data-dialog-cancel>
                <i class="en-cross"></i>
                Отменить
            </button>

            <button class="dialog__btn del" data-dialog-confirm>
                <i class="en-trash"></i>
                Удалить
            </button>
        </div>
    </footer>
</section>
