<section class="d-main">
    <div class="d-main__buttons">
        <button class="d-main__btn list-zones" data-toggle=".dns">
            <i class="en-list"></i>
            Список зон
        </button>
        <a class="d-main__btn del-zone" href="#dialog--delete-zone" data-dialog>
            <i class="en-trash"></i>
            Удалить зону
        </a>
    </div>

    <div class="d-main__section">
        <header class="d-main__hdr">
            <h4>
                Параметры SOA-записи
            </h4>
        </header>
        <table class="d-main__soa">
            <tr>
                <th>refresh</th>
                <th>retry</th>
                <th>expire</th>
                <th>minimum</th>
                <th>TTL</th>
            </tr>
            <tr>
                <td>28800</td>
                <td>7200</td>
                <td>1209600</td>
                <td>600</td>
                <td>900</td>
            </tr>
        </table>
    </div>

    @@include('./section--editor.html')
</section>

@@include('./dialog--del.html')
