<section class="d-editor">
    <div class="d-editor__buttons">
        <button class="d-editor__btn add-record">
            <i class="en-circle-with-plus"></i>
            Добавить запись
        </button>
    </div>

    <table class="d-editor__records" data-accordion-group>
        <tbody class="d-editor__record off" data-accordion>
            <tr class="d-editor__info" data-control>
                <td>@</td>
                <td>IN</td>
                <td>MX 10</td>
                <td>сервера .masterhost</td>
            </tr>

            <tr class="d-editor__actions">
                <td colspan="4">
                    <div data-content>
                        <button class="d-editor__btn on">
                            <i class="en-eye"></i>
                            Включить
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>

        <tbody class="d-editor__record" data-accordion>
            <tr class="d-editor__info" data-control>
                <td>@</td>
                <td>IN</td>
                <td>MX 10</td>
                <td>mx.yandex.ru</td>
            </tr>

            <tr class="d-editor__actions">
                <td colspan="4">
                    <div data-content>
                        <button class="d-editor__btn edit">
                            <i class="en-pencil"></i>
                            Редактировать
                        </button>

                        <button class="d-editor__btn del">
                            <i class="en-trash"></i>
                            Удалить
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>

        <tbody class="d-editor__record" data-accordion>
            <tr class="d-editor__info" data-control>
                <td>@</td>
                <td>IN</td>
                <td>AAAA</td>
                <td>сервера .masterhost</td>
            </tr>

            <tr class="d-editor__actions">
                <td colspan="4">
                    <div data-content>
                        <button class="d-editor__btn off">
                            <i class="en-eye-with-line"></i>
                            Отключить
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
