<section class="dns">
    <div class="dns__container">
        <aside class="dns__menu">
            @@include('./aside--zones.html')
        </aside>
        <main class="dns__content">
            @@include('./main--metest.html')
        </main>
    </div>
</section>
