$icomoon-font-path: "/assets" !default;

$en-search: "\ea84";
$en-payment: "\ea82";
$en-services: "\ea83";
$en-eye-with-line: "\ea81";
$en-add-to-list: "\e900";
$en-classic-computer: "\e901";
$en-controller-fast-backward: "\e902";
$en-creative-commons-attribution: "\e903";
$en-creative-commons-noderivs: "\e904";
$en-creative-commons-noncommercial-eu: "\e905";
$en-creative-commons-noncommercial-us: "\e906";
$en-creative-commons-public-domain: "\e907";
$en-creative-commons-remix: "\e908";
$en-creative-commons-share: "\e909";
$en-creative-commons-sharealike: "\e90a";
$en-creative-commons: "\e90b";
$en-document-landscape: "\e90c";
$en-remove-user: "\e90d";
$en-warning: "\e90e";
$en-arrow-bold-down: "\e90f";
$en-arrow-bold-left: "\e910";
$en-arrow-bold-right: "\e911";
$en-arrow-bold-up: "\e912";
$en-arrow-down: "\e913";
$en-arrow-left: "\e914";
$en-arrow-long-down: "\e915";
$en-arrow-long-left: "\e916";
$en-arrow-long-right: "\e917";
$en-arrow-long-up: "\e918";
$en-arrow-right: "\e919";
$en-arrow-up: "\e91a";
$en-arrow-with-circle-down: "\e91b";
$en-arrow-with-circle-left: "\e91c";
$en-arrow-with-circle-right: "\e91d";
$en-arrow-with-circle-up: "\e91e";
$en-bookmark: "\e91f";
$en-bookmarks: "\e920";
$en-chevron-down: "\e921";
$en-chevron-left: "\e922";
$en-chevron-right: "\e923";
$en-chevron-small-down: "\e924";
$en-chevron-small-left: "\e925";
$en-chevron-small-right: "\e926";
$en-chevron-small-up: "\e927";
$en-chevron-thin-down: "\e928";
$en-chevron-thin-left: "\e929";
$en-chevron-thin-right: "\e92a";
$en-chevron-thin-up: "\e92b";
$en-chevron-up: "\e92c";
$en-chevron-with-circle-down: "\e92d";
$en-chevron-with-circle-left: "\e92e";
$en-chevron-with-circle-right: "\e92f";
$en-chevron-with-circle-up: "\e930";
$en-cloud: "\e931";
$en-controller-fast-forward: "\e932";
$en-controller-jump-to-start: "\e933";
$en-controller-next: "\e934";
$en-controller-paus: "\e935";
$en-controller-play: "\e936";
$en-controller-record: "\e937";
$en-controller-stop: "\e938";
$en-controller-volume: "\e939";
$en-dot-single: "\e93a";
$en-dots-three-horizontal: "\e93b";
$en-dots-three-vertical: "\e93c";
$en-dots-two-horizontal: "\e93d";
$en-dots-two-vertical: "\e93e";
$en-download: "\e93f";
$en-emoji-flirt: "\e940";
$en-flow-branch: "\e941";
$en-flow-cascade: "\e942";
$en-flow-line: "\e943";
$en-flow-parallel: "\e944";
$en-flow-tree: "\e945";
$en-install: "\e946";
$en-layers: "\e947";
$en-open-book: "\e948";
$en-resize-100: "\e949";
$en-resize-full-screen: "\e94a";
$en-save: "\e94b";
$en-select-arrows: "\e94c";
$en-sound-mute: "\e94d";
$en-sound: "\e94e";
$en-trash: "\e94f";
$en-triangle-down: "\e950";
$en-triangle-left: "\e951";
$en-triangle-right: "\e952";
$en-triangle-up: "\e953";
$en-uninstall: "\e954";
$en-upload-to-cloud: "\e955";
$en-upload: "\e956";
$en-add-user: "\e957";
$en-address: "\e958";
$en-adjust: "\e959";
$en-air: "\e95a";
$en-aircraft-landing: "\e95b";
$en-aircraft-take-off: "\e95c";
$en-aircraft: "\e95d";
$en-align-bottom: "\e95e";
$en-align-horizontal-middle: "\e95f";
$en-align-left: "\e960";
$en-align-right: "\e961";
$en-align-top: "\e962";
$en-align-vertical-middle: "\e963";
$en-archive: "\e964";
$en-area-graph: "\e965";
$en-attachment: "\e966";
$en-awareness-ribbon: "\e967";
$en-back-in-time: "\e968";
$en-back: "\e969";
$en-bar-graph: "\e96a";
$en-battery: "\e96b";
$en-beamed-note: "\e96c";
$en-bell: "\e96d";
$en-blackboard: "\e96e";
$en-block: "\e96f";
$en-book: "\e970";
$en-bowl: "\e971";
$en-box: "\e972";
$en-briefcase: "\e973";
$en-browser: "\e974";
$en-brush: "\e975";
$en-bucket: "\e976";
$en-cake: "\e977";
$en-calculator: "\e978";
$en-calendar: "\e979";
$en-camera: "\e97a";
$en-ccw: "\e97b";
$en-chat: "\e97c";
$en-check: "\e97d";
$en-circle-with-cross: "\e97e";
$en-circle-with-minus: "\e97f";
$en-circle-with-plus: "\e980";
$en-circle: "\e981";
$en-circular-graph: "\e982";
$en-clapperboard: "\e983";
$en-clipboard: "\e984";
$en-clock: "\e985";
$en-code: "\e986";
$en-cog: "\e987";
$en-colours: "\e988";
$en-compass: "\e989";
$en-copy: "\e98a";
$en-credit-card: "\e98b";
$en-credit: "\e98c";
$en-cross: "\e98d";
$en-cup: "\e98e";
$en-cw: "\e98f";
$en-cycle: "\e990";
$en-database: "\e991";
$en-dial-pad: "\e992";
$en-direction: "\e993";
$en-document: "\e994";
$en-documents: "\e995";
$en-drink: "\e996";
$en-drive: "\e997";
$en-drop: "\e998";
$en-edit: "\e999";
$en-email: "\e99a";
$en-emoji-happy: "\e99b";
$en-emoji-neutral: "\e99c";
$en-emoji-sad: "\e99d";
$en-erase: "\e99e";
$en-eraser: "\e99f";
$en-export: "\e9a0";
$en-eye: "\e9a1";
$en-feather: "\e9a2";
$en-flag: "\e9a3";
$en-flash: "\e9a4";
$en-flashlight: "\e9a5";
$en-flat-brush: "\e9a6";
$en-folder-images: "\e9a7";
$en-folder-music: "\e9a8";
$en-folder-video: "\e9a9";
$en-folder: "\e9aa";
$en-forward: "\e9ab";
$en-funnel: "\e9ac";
$en-game-controller: "\e9ad";
$en-gauge: "\e9ae";
$en-globe: "\e9af";
$en-graduation-cap: "\e9b0";
$en-grid: "\e9b1";
$en-hair-cross: "\e9b2";
$en-hand: "\e9b3";
$en-heart-outlined: "\e9b4";
$en-heart: "\e9b5";
$en-help-with-circle: "\e9b6";
$en-help: "\e9b7";
$en-home: "\e9b8";
$en-hour-glass: "\e9b9";
$en-image-inverted: "\e9ba";
$en-image: "\e9bb";
$en-images: "\e9bc";
$en-inbox: "\e9bd";
$en-infinity: "\e9be";
$en-info-with-circle: "\e9bf";
$en-info: "\e9c0";
$en-key: "\e9c1";
$en-keyboard: "\e9c2";
$en-lab-flask: "\e9c3";
$en-landline: "\e9c4";
$en-language: "\e9c5";
$en-laptop: "\e9c6";
$en-leaf: "\e9c7";
$en-level-down: "\e9c8";
$en-level-up: "\e9c9";
$en-lifebuoy: "\e9ca";
$en-light-bulb: "\e9cb";
$en-light-down: "\e9cc";
$en-light-up: "\e9cd";
$en-line-graph: "\e9ce";
$en-link: "\e9cf";
$en-list: "\e9d0";
$en-location-pin: "\e9d1";
$en-location: "\e9d2";
$en-lock-open: "\e9d3";
$en-lock: "\e9d4";
$en-log-out: "\e9d5";
$en-login: "\e9d6";
$en-loop: "\e9d7";
$en-magnet: "\e9d8";
$en-magnifying-glass: "\e9d9";
$en-mail: "\e9da";
$en-man: "\e9db";
$en-map: "\e9dc";
$en-mask: "\e9dd";
$en-medal: "\e9de";
$en-megaphone: "\e9df";
$en-menu: "\e9e0";
$en-message: "\e9e1";
$en-mic: "\e9e2";
$en-minus: "\e9e3";
$en-mobile: "\e9e4";
$en-modern-mic: "\e9e5";
$en-moon: "\e9e6";
$en-mouse: "\e9e7";
$en-music: "\e9e8";
$en-network: "\e9e9";
$en-new-message: "\e9ea";
$en-new: "\e9eb";
$en-news: "\e9ec";
$en-note: "\e9ed";
$en-notification: "\e9ee";
$en-old-mobile: "\e9ef";
$en-old-phone: "\e9f0";
$en-palette: "\e9f1";
$en-paper-plane: "\e9f2";
$en-pencil: "\e9f3";
$en-phone: "\e9f4";
$en-pie-chart: "\e9f5";
$en-pin: "\e9f6";
$en-plus: "\e9f7";
$en-popup: "\e9f8";
$en-power-plug: "\e9f9";
$en-price-ribbon: "\e9fa";
$en-price-tag: "\e9fb";
$en-print: "\e9fc";
$en-progress-empty: "\e9fd";
$en-progress-full: "\e9fe";
$en-progress-one: "\e9ff";
$en-progress-two: "\ea00";
$en-publish: "\ea01";
$en-quote: "\ea02";
$en-radio: "\ea03";
$en-reply-all: "\ea04";
$en-reply: "\ea05";
$en-retweet: "\ea06";
$en-rocket: "\ea07";
$en-round-brush: "\ea08";
$en-rss: "\ea09";
$en-ruler: "\ea0a";
$en-scissors: "\ea0b";
$en-share-alternitive: "\ea0c";
$en-share: "\ea0d";
$en-shareable: "\ea0e";
$en-shield: "\ea0f";
$en-shop: "\ea10";
$en-shopping-bag: "\ea11";
$en-shopping-basket: "\ea12";
$en-shopping-cart: "\ea13";
$en-shuffle: "\ea14";
$en-signal: "\ea15";
$en-sound-mix: "\ea16";
$en-sports-club: "\ea17";
$en-spreadsheet: "\ea18";
$en-squared-cross: "\ea19";
$en-squared-minus: "\ea1a";
$en-squared-plus: "\ea1b";
$en-star-outlined: "\ea1c";
$en-star: "\ea1d";
$en-stopwatch: "\ea1e";
$en-suitcase: "\ea1f";
$en-swap: "\ea20";
$en-sweden: "\ea21";
$en-switch: "\ea22";
$en-tablet: "\ea23";
$en-tag: "\ea24";
$en-text-document-inverted: "\ea25";
$en-text-document: "\ea26";
$en-text: "\ea27";
$en-thermometer: "\ea28";
$en-thumbs-down: "\ea29";
$en-thumbs-up: "\ea2a";
$en-thunder-cloud: "\ea2b";
$en-ticket: "\ea2c";
$en-time-slot: "\ea2d";
$en-tools: "\ea2e";
$en-traffic-cone: "\ea2f";
$en-tree: "\ea30";
$en-trophy: "\ea31";
$en-tv: "\ea32";
$en-typing: "\ea33";
$en-unread: "\ea34";
$en-untag: "\ea35";
$en-user: "\ea36";
$en-users: "\ea37";
$en-v-card: "\ea38";
$en-video: "\ea39";
$en-vinyl: "\ea3a";
$en-voicemail: "\ea3b";
$en-wallet: "\ea3c";
$en-water: "\ea3d";
$en-500px-with-circle: "\ea3e";
$en-500px: "\ea3f";
$en-basecamp: "\ea40";
$en-behance: "\ea41";
$en-creative-cloud: "\ea42";
$en-dropbox: "\ea43";
$en-evernote: "\ea44";
$en-flattr: "\ea45";
$en-foursquare: "\ea46";
$en-google-drive: "\ea47";
$en-google-hangouts: "\ea48";
$en-grooveshark: "\ea49";
$en-icloud: "\ea4a";
$en-mixi: "\ea4b";
$en-onedrive: "\ea4c";
$en-paypal: "\ea4d";
$en-picasa: "\ea4e";
$en-qq: "\ea4f";
$en-rdio-with-circle: "\ea50";
$en-renren: "\ea51";
$en-scribd: "\ea52";
$en-sina-weibo: "\ea53";
$en-skype-with-circle: "\ea54";
$en-skype: "\ea55";
$en-slideshare: "\ea56";
$en-smashing: "\ea57";
$en-soundcloud: "\ea58";
$en-spotify-with-circle: "\ea59";
$en-spotify: "\ea5a";
$en-swarm: "\ea5b";
$en-vine-with-circle: "\ea5c";
$en-vine: "\ea5d";
$en-vk-alternitive: "\ea5e";
$en-vk-with-circle: "\ea5f";
$en-vk: "\ea60";
$en-xing-with-circle: "\ea61";
$en-xing: "\ea62";
$en-yelp: "\ea63";
$en-dribbble-with-circle: "\ea64";
$en-dribbble: "\ea65";
$en-facebook-with-circle: "\ea66";
$en-facebook: "\ea67";
$en-flickr-with-circle: "\ea68";
$en-flickr: "\ea69";
$en-github-with-circle: "\ea6a";
$en-github: "\ea6b";
$en-google-with-circle: "\ea6c";
$en-google: "\ea6d";
$en-instagram-with-circle: "\ea6e";
$en-instagram: "\ea6f";
$en-lastfm-with-circle: "\ea70";
$en-lastfm: "\ea71";
$en-linkedin-with-circle: "\ea72";
$en-linkedin: "\ea73";
$en-pinterest-with-circle: "\ea74";
$en-pinterest: "\ea75";
$en-rdio: "\ea76";
$en-stumbleupon-with-circle: "\ea77";
$en-stumbleupon: "\ea78";
$en-tumblr-with-circle: "\ea79";
$en-tumblr: "\ea7a";
$en-twitter-with-circle: "\ea7b";
$en-twitter: "\ea7c";
$en-vimeo-with-circle: "\ea7d";
$en-vimeo: "\ea7e";
$en-youtube-with-circle: "\ea7f";
$en-youtube: "\ea80";
