#{$all-buttons},
%button {
    appearance: none;
    background-color: $action-color;
    border: 0;
    border-radius: $base-border-radius;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: $base-lh;
    padding: 5px $small-spacing;
    text-align: center;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    &:focus,
    &:hover {
        background-color: shade($action-color, 20%);
        color: #fff;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: $action-color;
        }
    }
}

%button--yellow {
    background-color: $yellow;
    color: $base-font-color;
    &:focus,
    &:hover {
        background-color: shade($yellow, 20%);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: $yellow;
        }
    }
}

%button--grey {
    background-color: $base-font-color;
    color: $white;
    &:focus,
    &:hover {
        background-color: shade($base-font-color, 20%);
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: $base-font-color;
        }
    }
}
