.form {
    & {
        padding: 0 $small-spacing;
        @include mq(tablet) {
            padding: 0 $base-spacing;
        };
    }
    &__errors {
        background-color: $red;
        color: $white;
        margin-left: $small-spacing * -1;
        margin-right: $small-spacing * -1;
        margin-bottom: $small-spacing;
        padding: $small-spacing;
        @include mq(tablet) {
            margin-left: $base-spacing * -1;
            margin-right: $base-spacing * -1;
            margin-bottom: $base-spacing;
            padding: $base-spacing;
        };
    }
    &__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 0 $small-spacing;
        }
    }
    fieldset {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        border-bottom: $base-border;
        margin-bottom: $base-spacing;
    }
    legend {
        font-weight: 600;
        margin-bottom: $small-spacing / 2;
        padding: 0;
    }

    label {
        display: block;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: $small-spacing / 2;
        line-height: $base-lh;
        @include mq(tablet) {
            font-size: 18px;
        };

        &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: '';
            clear: both;
            height: 0;
        }

        .required {
            margin-left: -5px;
            color: $red;
            font-weight: 300;
            &::after {
                content: '*';
            }
        }

        [data-tooltip],
        .field__info {
            float: right;
            font-weight: 300;
        }
        .field__info {
            font-size: $em-base;
            color: $black40;
        }
    }
    input,
    select,
    textarea {
        display: block;
        font-family: $base-font-family;
        font-size: 14px;
        line-height: $base-lh;
        padding: 4px 5px;
        @include mq(tablet) {
            font-size: 16px;
            padding: 9px 5px;
        };
    }
    #{$all-text-inputs} {
        @extend %inputs;
    }

    textarea {
        resize: vertical;
    }
    [type="file"] {
        margin-bottom: $small-spacing;
        width: 100%;
    }
    select {
        @extend %inputs;
        @extend %select;
    }

    [type="checkbox"] {
        @extend %checkbox;
    }


    .field {
        & {
            margin-bottom: $base-spacing;
        }

        &--error {
            #{$all-text-inputs} {
                background-color: $error-bg;
                color: shade($red, 10%);
            }
        }
    }

    &__info {
        padding-top: $base-spacing;
        color: $black40;
    }
}
