body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $em-base;
    line-height: $base-lh;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: modular-scale(1);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h6 {
    font-size: 14px;
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 16px;
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing;
    };
}
h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 16px;
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing;
    };
}
h4 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: $base-spacing;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 20px;
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing;
    };
}
h3 {
    font-size: 22px;
    margin-top: $base-spacing * 2;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 24px;
        margin-top: $base-spacing * 3;
        margin-bottom: $base-spacing;
    };
}
h2 {
    font-size: 24px;
    margin-top: $base-spacing * 2;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 28px;
        margin-top: $base-spacing * 3;
        margin-bottom: $base-spacing;
    };
}
h1 {
    font-size: 30px;
    margin-top: $base-spacing * 2;
    margin-bottom: $small-spacing;
    @include mq(tablet) {
        font-size: 32px;
        margin-top: $base-spacing * 3;
        margin-bottom: $base-spacing;
    };
}
p {
    margin: 0 0 $small-spacing;
    @include mq(tablet) {
        margin: 0 0 $base-spacing;
    }
}
a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;
    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}
hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

article {
    p, ol, ul {
        margin-bottom: $small-spacing;
        @include mq(tablet) {
            margin-bottom: $base-spacing;
        }
    }
    ol, ul {
        padding-left: $small-spacing * 2;
    }
    li {
        margin-bottom: 0;
    }
    ol {list-style: decimal outside;}
    ul {
        list-style: outside url('bullet.png');
    }
}
.svg article ul {
    list-style: outside url('bullet.svg');
}
