@mixin font-size($size) {
    font-size: $size;
    font-size: rem($size);
}
// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy == xy {
        left  : 50%;
        top   : 50%;
        bottom: auto;
        right : auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left : 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy == y {
        top   : 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}
@mixin square($size) {
    width : $size;
    height: $size;
}

@mixin circle($size) {
    @include square($size);
    border-radius: 100%;
}
// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
