html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
@at-root {
     @-moz-viewport{
        width: device-width;
    }
    @-ms-viewport {
        width: device-width;
    }
    @-o-viewport {
        width: device-width;
    }
    @-webkit-viewport {
        width: device-width;
    }
    @viewport {
        width: device-width;
    }
}
//
// Reset HTML, body, and more
//
html {
    font-size: $em-base;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-family: $font-stack-system;
    font-size: $em-base;
    color: $black60;
    background-color: $white;
    margin: 0;
}
html,
body {
    height: 100%;
}
