// Colors
$black:  #000;
$white:  #fff;
$red:    #ff584e;
$yellow: #fbc470;

$black80: #333;
$black60: #666;
$black40: #999;
$black20: #ccc;
$black10: #f2f2f2;

$error-bg: lighten($red, 30);


$gradient:      linear-gradient(-236deg, $yellow 0%, $red 100%);
$gradient-2:    linear-gradient(56deg, $red 0%, $yellow 54%);

$box-shadow:    0px 2px 12px 0px rgba(#000, 0.16);
$box-shadow-xs: inset 0px 2px 6px 0px rgba(#000, 0.12);
$dialog-shadow: 0px 2px 25px 0px  rgba(#000, 0.75);

$font-stack-system: 'Open Sans', sans-serif;
//
$em-base:           14px !global;
$base-lh:           20px;
$gutter:            20px;

$mq-breakpoints:    (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

// Animations
$base-duration: 150ms;
$base-timing: ease;

$dialog-duration: 200ms;
$dialog-timing: ease-in-out;

$main-bg: $black10;
$menu-width: 240px;
$menu-duration: $base-duration * 2;
$menu-timing: $base-timing;

$choosen-one: 10px solid $red;

$selected-color: lighten($yellow, 20%);
