body {
    .svg {
        display: none;
    }
    .png {
        display: block;
    }
}
html.svg {
    .svg {
        display: block;
    }
    .png {
        display: none;
    }
}
// Если обе картинки и нет поддержки SVG
.png-svg {
    .png {display: block;}
    .svg {display: none;}
}
// Если обе картинки и есть поддержки SVG
html.svg .png-svg {
    .png {display: none;}
    .svg {display: block;}
}
// Если только PNG
.only-png,
html.svg .only-png {
    .png {display: block;}
    .svg {display: none;}
}
// Если только SVG, но нет поддержки браузером
.only-svg {
    .png {display: none;}
    .svg {display: none;}
}
// Если только SVG и есть поддержка браузером
html.svg .only-svg {
    .png {display: none;}
    .svg {display: block;}
}
