// Placeholders
%overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

%header {
    padding: $small-spacing;
    position: relative;
    background-color: $white;
    border-bottom: 2px solid $red;
    transition: padding $base-duration $base-timing;

    @include mq(tablet) {
        padding: $base-spacing;
    };

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -17px;
        left: $base-spacing;
        width: 32px;
        height: 17px;
        background-position: 0 0;
        background-image: url('/assets/header-arrow-xs.svg');
    }
}

%checkbox {
    & {
        display: none;
    }

    & + label {
        margin: 0;
        cursor: pointer;
    }
    & + label::before {
        @extend i;
        font-size: 90%;
        width: $base-lh;
        height: $base-lh;
        content: $en-check;
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        color: rgba($white, 0);
        background-color: rgba($red, 0);
        border: 2px solid $red;
        border-radius: 3px;
        transition: color $base-duration $base-timing,
                    border-color $base-duration $base-timing,
                    background-color $base-duration $base-timing;
    }
    & + label:hover::before {
        border-color: shade($action-color, 20%);
    }

    &:checked + label::before {
        background-color: rgba($red, 1);
        color: rgba($white, 1);
    }

    &:checked + label:hover::before {
        background-color: shade($action-color, 20%);
    }
}

%inputs {
    appearance: none;
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    margin-bottom: 0;

    transition: border-color $base-duration $base-timing;
    width: 100%;
    &:hover {
        border-color: shade($base-border-color, 20%);
    }
    &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }
    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;
        &:hover {
            border: $base-border;
        }
    }
    &::placeholder {
        color: $light-gray;
    }
}

%select {
    margin-bottom: $small-spacing;
    width: 100%;
    padding: 4px 5px;
    padding-right: $base-lh;
    background-image: url('/assets/select.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;

    @include mq(tablet) {
        font-size: 16px;
        padding: 9px 5px;
        padding-right: $base-lh;
    };

    &:hover {
        background-image: url('/assets/select-hover.png');
    }
    &:focus,
    &:active {
        background-image: url('/assets/select-active.png');
    }

    .svg & {
        background-image: url('/assets/select.svg');

        &:hover {
            background-image: url('/assets/select-hover.svg');
        }
        &:focus,
        &:active {
            background-image: url('/assets/select-active.svg');
        }
    }
}

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
