<section class="modal">
    <header class="modal__header">
        <h1>
            ВХОД
        </h1>
    </header>

    <main class="modal__content">
        <form class="form">
            <ul class="form__errors">
                <li>
                    Неверные пароль и логин
                </li>
            </ul>

            <div class="form__fields">
                <div class="field field--error">
                    <label for="login">
                        Логин
                        <span class="required"></span>
                        <span data-tooltip title="Какая-то информация про логин">
                            <i class="en-help-with-circle"></i>
                        </span>
                    </label>
                    <input type="text" name="login" id="login" required>
                </div>

                <div class="field">
                    <input type="checkbox" name="partner" id="partner">
                    <label for="partner">являюсь партнёром</label>
                </div>

                <div class="field">
                    <label for="password">
                        Пароль
                        <a href="#" data-password="#password" data-tooltip title="Показать/скрыть пароль"></a>
                    </label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="field">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">чужой копьютер</label>
                </div>

                <footer class="form__footer">
                    <button type="submit">
                        <i class="en-key"></i>
                        Войти
                    </button>
                </footer>
            </div>
        </form>
    </main>

    <footer class="modal__footer">
        <ul class="linklist linklist--small">
            <li><a href="/reset.html">Забыл пароль</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Стать партнёром</a></li>
        </ul>
    </footer>
</section>
