<section class="modal">
    <header class="modal__header">
        <h1>
            Забыли пароль?
        </h1>
    </header>

    <main class="modal__content">
        <form action="" class="form">
            <div class="form__info">
                <p>
                    Если вы забыли пароль, введите E-Mail. Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
                </p>
            </div>

            <div class="form__fields">
                <div class="field">
                    <label for="login">
                        E-mail
                        <span class="required"></span>
                    </label>
                    <input type="email" name="email" id="login" required>
                </div>
            </div>

            <footer class="form__footer">
                <button type="submit">
                    <i class="en-rocket"></i>
                    Отправить
                </button>
            </footer>
        </form>
    </main>

    <footer class="modal__footer">
        <ul class="linklist linklist--small">
            <li><a href="/login.html">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Стать партнёром</a></li>
        </ul>
    </footer>
</section>
