<nav class="aside">
    <div class="aside__logo"></div>
    <ul class="aside__menu" data-expandable>
        <li class="aside__item">
            <a href="#">
                <i class="en-home"></i>
                Панель управления
            </a>
        </li>
        <li class="aside__item active expanded">
            <a href="#">
                <i class="en-user"></i>
                Пользователь
            </a>

            <ul class="aside__submenu">
                <li class="aside__subitem aside__subitem--active">
                    <a href="#">
                        Регистрационная информация
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Пароли
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Авторизация мобильного номера
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Настройки
                    </a>
                </li>
            </ul>
        </li>
        <li class="aside__item">
            <a href="#">
                <i class="en-services"></i>
                Услуги
            </a>

            <ul class="aside__submenu">
                <li class="aside__subitem">
                    <a href="#">
                        Домены в зонах .ru, .su и .рф
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Международные домены
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Аренда доменов
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Аукцион
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Паркинг
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        DNS
                    </a>
                </li>
            </ul>
        </li>
        <li class="aside__item">
            <a href="#">
                <i class="en-clipboard"></i>
                Операции
            </a>
        </li>
        <li class="aside__item">
            <a href="#">
                <i class="en-payment"></i>
                Финансы и оплата
            </a>

            <ul class="aside__submenu">
                <li class="aside__subitem">
                    <a href="#">
                        Пополнить
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Лицевой счёт
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Журнал операций
                    </a>
                </li>
                <li class="aside__subitem">
                    <a href="#">
                        Настройки
                    </a>
                </li>
            </ul>
        </li>
        <li class="aside__item">
            <a href="#">
                <i class="en-news"></i>
                Новости
            </a>
        </li>
        <li class="aside__item">
            <a href="#">
                <i class="en-mail"></i>
                Сообщения
                <span class="badge">4</span>
            </a>
        </li>
    </ul>
</nav>
