<div class="p-footer">
    <div class="p-footer__box p-footer__box--logo">
        <img src="assets/footer-logo.png" alt="" class="png">
        <img src="assets/footer-logo.svg" alt="" class="svg">
    </div>

    <div class="p-footer__box">
        <h6>
            ООО «Регистратор доменов»
        </h6>
        <p>
            115088, Москва, 2-ой Южнопортовый пр., д. 18, стр. 2
        </p>
    </div>
    <div class="p-footer__box">
        <p>
            info@registrator.ru
        </p>
    </div>
    <div class="p-footer__box">
        <p>
            Телефон: +7 (495) 956-97-24
        </p>
    </div>
</div>
