<section class="b-form">
    <header class="b-form__hdr">
        <h4>
            С баланса мобильного
        </h4>
        <p>
            МТС, Мегафон
        </p>
    </header>

    <div class="b-form__info">
        <p>
            Оплата производится через сервер платежной системы Assist.
            Взимается комиссия.
        </p>
        <ul>
            <li>
                МТС &mdash; 10% + 10р. (с учётом НДС) за SMS об успешном проведении платежа
            </li>
            <li>
                Мегафон &mdash; 11,6%
            </li>
        </ul>
    </div>

    <form action="/" class="form b-form__form">

        <fieldset>
            <div class="field">
                <label for="summa">
                    Сумма
                    <span class="required"></span>
                    <span class="field__info">
                        в рублях
                    </span>
                </label>
                <input type="text" name="summa" id="summa" required>
            </div>
        </fieldset>

        <fieldset>
            <div class="field">
                <label for="lname">
                    Фамилия
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="lname" id="lname" required placeholder="Лоханкин" value="Антонов">
            </div>

            <div class="field">
                <label for="fname">
                    Имя
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="fname" id="fname" required placeholder="Вассисуалий" value="Антон">
            </div>

            <div class="field">
                <label for="patronymic">
                    Отчество
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="patronymic" id="patronymic" required placeholder="Андреевич" value="Антонович">
            </div>

            <div class="field">
                <label for="email">
                    E-mail
                    <span class="required"></span>
                </label>
                <input type="text" name="email" id="email" required placeholder="w.lochankin@example.com" value="anladem@mail.ru">
            </div>

        </fieldset>

        <footer class="form__footer">
            <button type="submit">
                <i class="en-payment"></i>
                Пополнить
            </button>
        </footer>
    </form>
</section>
