<section class="b-form">
    <header class="b-form__hdr">
        <h4>
            Webmoney
        </h4>
    </header>

    <div class="b-form__info">
        <p>
            Пожалуйста, не забывайте правильно указывать расчетную WM-единицу, чтобы переводимые суммы соответствовали вашим расчетам.
        </p>
    </div>

    <form action="/" class="form b-form__form">
        <fieldset>
            <div class="field">
                <label for="summa">
                    Сумма
                    <span class="required"></span>
                    <span class="field__info">
                        в рублях
                    </span>
                </label>
                <input type="text" name="summa" id="summa" required>
            </div>
        </fieldset>

        <fieldset>
            <div class="field">
                <label for="account">
                    Лицевой счёт
                    <span class="required"></span>
                </label>
                <select name="account">
                    <option value="442303" selected>
                        442303
                    </option>
                </select>
            </div>

            <div class="field">
                <label for="email">
                    E-mail
                    <span class="required"></span>
                </label>
                <input type="text" name="email" id="email" required placeholder="w.lochankin@example.com" value="anladem@mail.ru">
            </div>
        </fieldset>

        <footer class="form__footer">
            <button type="submit">
                <i class="en-payment"></i>
                Пополнить
            </button>
        </footer>
    </form>
</section>
