<section class="b-form">
    <header class="b-form__hdr">
        <h4>
            Банковская карта
        </h4>
        <p>
            VISA, Eurocard, MasterCard, Diners Club
        </p>
    </header>

    <div class="b-form__info">
        <p>
            Платёж осуществляется через систему CyberPlat. Комиссия за платёж не взимается
        </p>
    </div>

    <form action="/" class="form b-form__form">
        <ul class="form__errors">
            <li>
                Неверно указана сумма
            </li>
        </ul>

        <fieldset>
            <div class="field field--error">
                <label for="summa">
                    Сумма
                    <span class="required"></span>
                    <span class="field__info">
                        в рублях
                    </span>
                </label>
                <input type="text" name="summa" id="summa" required value="error">
            </div>
        </fieldset>

        <fieldset>
            <div class="field">
                <label for="lname">
                    Фамилия
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="lname" id="lname" required placeholder="Лоханкин">
            </div>

            <div class="field">
                <label for="fname">
                    Имя
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="fname" id="fname" required placeholder="Вассисуалий">
            </div>

            <div class="field">
                <label for="patronymic">
                    Отчество
                    <span class="required"></span>
                    <span class="field__info">
                        по-русски
                    </span>
                </label>
                <input type="text" name="patronymic" id="patronymic" required placeholder="Андреевич">
            </div>

            <div class="field">
                <label for="email">
                    E-mail
                    <span class="required"></span>
                </label>
                <input type="text" name="email" id="email" required placeholder="w.lochankin@example.com" value="anladem@mail.ru">
            </div>
        </fieldset>

        <footer class="form__footer">
            <button type="submit">
                <i class="en-payment"></i>
                Пополнить
            </button>
        </footer>
    </form>
</section>
