<section class="b-form">
    <header class="b-form__hdr">
        <h4>
            Банковский перевод
        </h4>
        <p>
            на реквизиты &laquo;ООО Регистратор&raquo;
        </p>
    </header>

    <div class="b-form__info">
        <p>
            Комиссия за платёж не взимается
        </p>
    </div>


    <form action="/" class="form b-form__form">
        <fieldset>
            <div class="field">
                <label for="summa">
                    Сумма
                    <span class="required"></span>
                    <span class="field__info">
                        в рублях
                    </span>
                </label>
                <input type="text" name="summa" id="summa" required>
            </div>
        </fieldset>

        <fieldset>
            <div class="field">
                <label for="email">
                    E-mail
                    <span class="required"></span>
                </label>
                <input type="text" name="email" id="email" required placeholder="w.lochankin@example.com" value="anladem@mail.ru">
            </div>
        </fieldset>

        <footer class="form__footer">
            <button type="submit">
                <i class="en-payment"></i>
                Пополнить
            </button>
        </footer>
    </form>
</section>
