<section class="balance" data-action="tabs">
    <ul class="balance__tabs">
        <li class="balance__tab selected" data-tab-target="card">
            <div class="balance__icon balance__icon--card"></div>
            <header class="balance__hdr">
                <h4>
                    Банковская карта
                </h4>
                <p>
                    VISA, Eurocard, MasterCard, Diners Club
                </p>
            </header>
        </li>
        <li class="balance__tab" data-tab-target="yandex">
            <div class="balance__icon balance__icon--yandex"></div>
            <header class="balance__hdr">
                <h4>
                    Яндекс.Деньги
                </h4>
            </header>
        </li>
        <li class="balance__tab" data-tab-target="qiwi">
            <div class="balance__icon balance__icon--qiwi"></div>
            <header class="balance__hdr">
                <h4>
                    QIWI кошелёк
                </h4>
            </header>
        </li>
        <li class="balance__tab" data-tab-target="mobile">
            <div class="balance__icon balance__icon--mobile"></div>
            <header class="balance__hdr">
                <h4>
                    С баланса мобильного
                </h4>
                <p>
                    МТС, Мегафон
                </p>
            </header>
        </li>
        <li class="balance__tab" data-tab-target="webmoney">
            <div class="balance__icon balance__icon--webmoney"></div>
            <header class="balance__hdr">
                <h4>
                    WebMoney
                </h4>
            </header>
        </li>
        <li class="balance__tab" data-tab-target="transfer">
            <div class="balance__icon balance__icon--transfer"></div>
            <header class="balance__hdr">
                <h4>
                    Банковский перевод
                </h4>
                <p>
                    на реквизиты &laquo;ООО Регистратор&raquo;
                </p>
            </header>
        </li>
    </ul>

    <div class="balance__content">
        <ul class="balance__boxes">
            <li class="balance__box selected" data-tab-content="card">
                @@include('balance--card.html')
            </li>

            <li class="balance__box" data-tab-content="yandex">
                @@include('balance--yandex.html')
            </li>

            <li class="balance__box" data-tab-content="qiwi">
                @@include('balance--qiwi.html')
            </li>

            <li class="balance__box" data-tab-content="mobile">
                @@include('balance--mobile.html')
            </li>

            <li class="balance__box" data-tab-content="webmoney">
                @@include('balance--webmoney.html')
            </li>

            <li class="balance__box" data-tab-content="transfer">
                @@include('balance--transfer.html')
            </li>
        </ul>
    </div>
</section>
