<table class="services services--short">
    <tr>
        <th>
            домен
        </th>
        <th>
            оплачен до
        </th>
        <th>
            DNS-серверы
        </th>
        <th>
            дополнительно
        </th>
    </tr>

    <tr>
        <td class="services__domain">
            <a href="http://angrycat.org">angrycat.org</a>
        </td>
        <td class="services__paid">
            19.01.2017
        </td>
        <td class="services__dns">
            ns1.hc.ru, ns2.hc.ru
        </td>
        <td class="services__extra">
            запаркован,
            web-forwarding,
            сертификат владельца,
            журнал операций
        </td>
    </tr>

    <tr>
        <td class="services__domain">
            <a href="http://angrycat.net">angrycat.net</a>
        </td>
        <td class="services__paid services__paid--end">
            19.10.2017
            <span class="services__free">
                освобождается
                19.11.2016
            </span>
        </td>
        <td class="services__dns">
            ns1.netregistry.net,
            ns2.netregistry.net,
            ns3.netregistry.net
        </td>
        <td class="services__extra">
            запаркован,
            web-forwarding,
            сертификат владельца,
            журнал операций
        </td>
    </tr>
</table>
