<section class="result">
    <form action="/" class="result__form">
        <table class="result__table">
            <tr class="result__row result__row--busy">
                <td></td>
                <td class="result__domain">
                    angrycat.ru
                </td>
                <td class="result__whois" colspan="2">
                    <a href="#">
                        whois
                    </a>
                </td>
            </tr>

            <tr class="result__row result__row--error">
                <td></td>
                <td class="result__domain">
                    angrycat.рф
                </td>
                <td class="result__error" colspan="2">
                    некорректное имя
                </td>
            </tr>

            <tr class="result__row result__row--free">
                <td class="result__check">
                    <input type="checkbox" name="domain1" id="domain1">
                    <label for="domain1"></label>
                </td>
                <td class="result__domain">
                    angrycat.su
                </td>
                <td class="result__price">
                    <span>602 р.</span>
                </td>
                <td class="result__period">
                    <select name="period1">
                        <option value="1" selected>1 год</option>
                        <option value="2">2 года</option>
                        <option value="3">3 года</option>
                        <option value="4">4 года</option>
                        <option value="5">5 лет</option>
                        <option value="6">6 лет</option>
                        <option value="7">7 лет</option>
                        <option value="8">8 лет</option>
                        <option value="9">9 лет</option>
                        <option value="10">10 лет</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="result__show-all">
                    <a href="#">
                        Показать остальные
                    </a>
                </td>
                <td colspan="3" class="result__domains">
                    <span>рус</span>
                    <span>biz</span>
                    <span class="busy">mobi</span>
                    <span class="free">name</span>
                    <span>cc</span>
                    <span>co.uk</span>
                    <span>org.uk</span>
                    <span>me</span>
                    <span>tv</span>
                    <span>tel</span>
                    <span>adygeya.ru</span>
                    <span>adygeya.su</span>
                    <span>arkhangelsk.su</span>
                    <span>balashov.su</span>
                </td>
            </tr>
        </table>

        <footer class="result__footer">
            <button type="submit" class="result__submit">
                <i class="en-shopping-cart"></i>
                В корзину
            </button>
        </footer>
    </form>
</section>
