<section class="whois" data-action="tabs">
    <ul class="whois__tabs">
        <li class="whois__tab selected" data-tab-target="register">
            <span class="xs">
                Регистрация
            </span>
            <span class="sm">
                Регистрация доменов
            </span>
        </li>
        <li class="whois__tab" data-tab-target="rent">
            <span class="xs">
                Аренда
            </span>
            <span class="sm">
                Арендовать домен
            </span>
        </li>
    </ul>

    <div class="whois__content">
        <ul class="whois__boxes">
            <li class="whois__box selected" data-tab-content="register">
                <form class="form whois__form" action="" method="post" data-action="whois">
                    <input type="text" name="domain" class="whois__input" placeholder="Введите имя домена">
                    <button type="submit" class="whois__submit">
                        <i class="en-search"></i>
                        <span class="sm">
                            Поиск
                        </span>
                    </button>
                </form>

                @@include('whois-results.html')
            </li>

            <li class="whois__box" data-tab-content="rent">
                <form class="whois__form form" action="" method="post" data-action="whois">
                    <input type="text" name="domain" class="whois__input" placeholder="Введите имя домена">
                    <button type="submit" class="whois__submit">
                        <i class="en-search"></i>
                        <span class="sm">
                            Поиск
                        </span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</section>
