<section class="widget">
    <main class="widget__main">
        <div class="widget__icon">
            <img src="/assets/ico-domain.png" class="png"/>
            <img src="/assets/ico-domain.svg" class="svg"/>
        </div>
        <div class="widget__content">
            <p class="w-intro">
                Домены
                <strong>10</strong>
            </p>
            <table class="w-info">
                <tr>
                    <th>
                        Требуется продление:
                    </th>
                    <td>
                        2
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="widget__footer">
        <a href="#" class="widget__button">
            <i class="en-cycle"></i>
            Продлить
        </a>
    </footer>
</section>
