<section class="widget">
    <main class="widget__main">
        <div class="widget__icon">
            <img src="/assets/ico-payment.png" class="png"/>
            <img src="/assets/ico-payment.svg" class="svg"/>
        </div>
        <div class="widget__content">
            <p class="w-intro">
                Баланс
                <strong>600 р</strong>
            </p>
            <table class="w-info">
                <tr>
                    <th>
                        Лицевой счёт:
                    </th>
                    <td>
                        442303
                    </td>
                </tr>
                <tr>
                    <th>
                        Заблокировано:
                    </th>
                    <td>
                        50 р
                    </td>
                </tr>
                <tr>
                    <th>
                        Кредит:
                    </th>
                    <td>
                        500 р
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="widget__footer">
        <a href="#" class="widget__button">
            <i class="en-payment"></i>
            Пополнить
        </a>
    </footer>
</section>
