<section class="widget widget--choosen-one">
    <main class="widget__main">
        <div class="widget__content">
            <p class="w-intro">
                Здравствуйте,
                <strong>Антонов Антон Антонович</strong>
            </p>
            <table class="w-info">
                <tr>
                    <th>
                        Статус:
                    </th>
                    <td>
                        Физическое лицо
                    </td>
                </tr>
                <tr>
                    <th>
                        Логин:
                    </th>
                    <td>
                        457086/RD-P
                    </td>
                </tr>
                <tr>
                    <th>
                        E-mail:
                    </th>
                    <td>
                        anladem@mail.ru
                    </td>
                </tr>
                <tr>
                    <th>
                        Телефон:
                    </th>
                    <td>
                        +7(495)765-43-21
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="widget__footer">
        <a href="#" class="widget__button">
            <i class="en-pencil"></i>
            Редактировать
        </a>
    </footer>
</section>
