<section class="widget">
    <header class="widget__header">
        <h1>
            Услуги
        </h1>
    </header>
    <main class="widget__main">
        @@include('service-table.html')
    </main>
    <footer class="widget__footer">
        <ul class="pager">
            <li class="pager__prev pager__prev--disabled">
                <span></span>
            </li>
            <li class="pager__item pager__item--active">
                <a href="#">1</a>
            </li>
            <li class="pager__item">
                <a href="#">2</a>
            </li>
            <li class="pager__item">
                <a href="#">3</a>
            </li>
            <li class="pager__item">
                <a href="#">4</a>
            </li>
            <li class="pager__item">
                <a href="#">5</a>
            </li>
            <li class="pager__separator">
                <span>&hellip;</span>
            </li>
            <li class="pager__item">
                <a href="#">15</a>
            </li>
            <li class="pager__next">
                <a href="#"></a>
            </li>
        </ul>

        <a href="#" class="widget__button">
            <i class="en-info-with-circle"></i>
            Подробнее
        </a>
    </footer>
</section>
